 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@700&display=swap');

 *{
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Poppins', sans-serif;
 }

 .btn-primary{
    padding: 10px 28px;
    border-radius: 41px;
    background: #E02C6D;
    color: #fff;
    border: 0;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
 }
 .btn-primary img{
    margin-left: 12px;
    margin-bottom: -7px;
 }

 /* Nav style  */

 .nav-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 8em;
 }

 .nav-title{
    font-size: 1.5rem;
    font-weight: 700;
 }
 nav ul{
    display: flex;
    list-style-type: none;
 }
 nav ul li a{
    margin-left: 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
 }

 /* Hero style */

 .hero-container{
    padding: 50px 8em;
    display: flex;
    align-items: center;
 }

.hero-content{
    padding-right: 5rem;
}
.hero-content h1{
    font-size: 3.4rem;
    line-height: 1.3em;
    font-weight: 700;
    color: #3A3A3A;
}

.hero-content p{
    font-size: 1rem;
    font-weight: 600;
    color: #3A3A3A;
    margin: 16px 0;
}

.hero-img-box{
    background-image: url("images/bg1.png");
}

 /* responsive designs */

 /* for mobile or small devices */